GOOGLE_SHEETS_ID=1buR4otWMcrwnkPtljinWVkXOKyxEIa0_uqQAKRnXeIY
GOOGLE_CREDENTIALS=PEGAR_EL_CONTENIDO_DEL_JSON_AQUI_EN_UNA_SOLA_LINEA
SESSION_SECRET=cambiar-por-una-clave-random-larga-1234567890abcdef
ADMIN_UF=admin
PORT=3000
